<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상세 포스트 보기</title>
    <style>
        .center {
            text-align: center;
        }
        table {
            width: 80%;
            border: 1px solid #999;
            border-collapse: collapse;
            margin: 0 auto;
        }
        td {
            background-color: #fff;
            padding: 10px;
        }
        .td_head {
            background-color: #f0ffff;
            font-size: 14px;
        }
        .td_headTitle {
            background-color: #f0ffff;
            font-size: 16px;
            font-weight: bold;
        }
        .td_contents {
            font-size: 14px;
        }
        .td_comments {
            font-size: 14px;
            border-top: 1px dotted #999;
        }
        tr > td:nth-child(1) {
            width: 15%;
        }
        tr > td:nth-child(2) {
            width: 20%;
        }
        tr > td:nth-child(3) {
            width: 15%;
        }
        tr > td:nth-child(4) {
            width: 15%;
        }
        .inp_textarea {
            width: 71.25%;
            height: 36px;
            padding: 5px;
            font-size: 14px;
            background-color: #fff;
            border: 1px solid #999;
            border-radius: 5px;
            text-align: left;
            resize: none;
        }
        .button {
            display: inline-block;
            background-color: #87cefa;
            color: #000;
            padding: 15px;
            text-align: center;
            text-decoration: none;
            font-size: 14px;
            margin: 4px 2px;
            cursor: pointer;
            border: 0;
            border-radius: 10px;
        }
        .button:hover {
            background-color: #00BFFF;
        }
        .comments {
            font-size: 14px;
        }
        .comment-form {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .comment-button {
            display: inline-block;
            background-color: #87cefa;
            color: #000;
            padding: 15px;
            text-align: center;
            text-decoration: none;
            font-size: 14px;
            margin: 4px 2px;
            cursor: pointer;
            border: 0;
            border-radius: 10px;
            margin-left: 10px;
        }
        .comment-button:hover {
            background-color: #00BFFF;
        }
        /* 답글 달기 버튼 */
        .reply-button {
            display: inline-block;
            background-color: #00BFFF;
            color: #fff;
            padding: 7.5px;
            text-align: center;
            text-decoration: none;
            font-size: 12px;
            border: 0;
            border-radius: 5px;
        }
        /* 답글 달기 버튼 hover 효과 */
        .reply-button:hover {
            background-color: #1e90ff;
        }
        /* 좋아요 버튼 */
        .like-button {
            display: inline-block;
            background-color: #FFC0CB;
            padding: 7.5px;
            text-align: center;
            text-decoration: none;
            font-size: 12px;
            border: 0;
            border-radius: 5px;
        }
        /* 좋아요 버튼 hover 효과 */
        .like-button:hover {
            background-color: #FF69B4;
        }
    </style>
</head>
<body>
<div>
    <p><%= userRealName %>님</p>
</div>
<table>
    <tr> <!-- 말머리, 제목 영역 -->
        <td class="td_head"> <%= post.sort %> </td> <!-- 말머리 -->
        <td class="td_headTitle" colspan="4"> <%= post.title %> </td> <!-- 제목 -->
    </tr>
    <tr> <!-- 글쓴이, 작성일, 조회수, 좋아요 영역 -->
        <td class="td_head" colspan="2"> <%= post.author %> </td> <!-- 글쓴이 -->
        <td class="td_head"> <%= post.create_at %> </td> <!-- 작성일 -->
        <td class="td_head"> <b>조회수</b> <%= post.views %> </td> <!-- 조회수 -->
        <td class="td_head"> <b>좋아요</b> <%= post.likes %> </td> <!-- 좋아요수 -->
    </tr>
    <tr> <!-- 내용 영역 -->
        <td class="td_contents" colspan="5"> <%= post.content %> </td>
    </tr>
    <tr> <!-- 좋아요 영역 -->
        <td colspan="5" align="center">
            <a href="#" class="like-button">좋아요</a>
        </td>
    </tr>
    <tr> <!-- 댓글 목록 영역-->
        <td class="td_comments" colspan="5">
            <% if (comments && comments.length > 0) { %>
                <% comments.forEach( comment => { %>
                    <div class="comments">
                        <p><%= comment.author %></p>
                        <p><%= comment.content %></p>
                        <p><%= comment.id %></p>
                        <p><%= comment.created_at %>
                            <a href="#" class="reply-button" data-comment-id="<%= comment.id %>">답글쓰기</a></p>
                        <% if ( comment.children && comment.children.length > 0 ) { %>
                            <% comment.children.forEach ( childComment => { %>
                                <div class="comments">
                                    <p><%= childComment.author %></p>
                                    <p><%= childComment.content %></p>
                                    <p><%= comment.created_at %>
                                        <a href="#" class="reply-button" data-comment-id="<%= comment.id %>">답글쓰기</a></p>
                                </div>
                            <% }); %>
                        <% } %>
                    </div>
                <% }); %>
            <% } else { %>
                <p> 댓글이 없습니다. </p>
            <% } %>
        </td>
    </tr>
</table>
<!-- 댓글 영역 -->
<form class="comment-form" action="/addComment?post_id=<%= post.id %>&author_id=<% userId %>" method="post">
    <textarea class="inp_textarea" name="content" placeholder="'<%= username%>'님 댓글을 남겨보세요."></textarea>
    <input type="submit" value="등록" class="comment-button">
</form>
<!-- 버튼 영역 -->
<div class="center">
    <!-- 이전 페이지로 돌아가기 버튼 -->
    <a href="/boardMain?id=<%= userId %>&username=<%= username %>&name=<%= userRealName %>" class="button">이전 페이지로 돌아가기</a>
    <!-- 수정 버튼 -->
    <a href="/md_editPost/<%= post.id %>?user_id=<%= userId %>&username=<%= username %>&user_realname=<%= userRealName %>" class="button">수정</a>
    <!-- 삭제 버튼 -->
    <a href="/md_deletePost/<%= post.id %>?user_id=<% userId %>&username=<%= username %>&user_realname=<%= userRealName %>" class="button">삭제</a>
</div>
<script>
    // 답글 쓰기 버튼 클릭 시 해당 댓글 아래에 답글 입력 폼을 표시하는 함수
    document.querySelectorAll('.reply-button').forEach(button => {
        button.addEventListener('click', function (e) {
            e.preventDefault();
            // 클릭한 버튼의 data-comment-id 속성 값을 가져옴
            const commentId = button.dataset.commentId;
            const replyForm = document.createElement('div');
            replyForm.classList.add('comment', 'reply-form');
            replyForm.innerHTML =
                `<form class="comment-form" action="/addComment?post_id=<%= post.id %>&author_id=<% userId %>" method="post">
                    <input type="hidden" name="post_id" value="<%= post.id %>">
                    <input type="hidden" name="author_id" value="<%= userId %>">
                    <!-- 클릭한 버튼의 data-comment-id 값을 comment_id로 설정 -->
                    <input type="hidden" name="comment_id" value="${commentId}">
                    <textarea class="inp_textarea" name="content" placeholder="'<%= username%>'님 댓글을 남겨보세요."></textarea>
                    <input type="submit" value="등록" class="comment-button">
                 </form>`;
            // 클릭한 버튼 다음에 답글 입력 폼 삽입
            button.parentElement.appendChild(replyForm);
        });
    });
</script>
</body>
</html>